@model IEnumerable<WebApplication1.Models.TripModel>

@{
    ViewData["Title"] = "Zestawienie";
}
<link rel="stylesheet" type="text/css" href="style.css">
<div class="title">
<h1>Zestawienie Wycieczek</h1>
<img src="https://img.freepik.com/free-vector/outdoor-vector-road-trip-sea-coast-landscape-background-rock-nature-winding-rocky-pathway-ocean-water-stunning-empty-valley-with-sand-ground-summer-cloudy-empty-asphalt-route-illustration_107791-21470.jpg?size=338&ext=jpg&ga=GA1.1.1395880969.1709510400&semt=sph" alt="Road Image" />
</div>
<table class="table">
    <thead>
        <tr>
            <th>
                Identyfikator
            </th>
            <th>
                Nazwa wycieczki
            </th>
            <th>
                Opis
            </th>
            <th>
                Miejsce
            </th>
            <th>
                Data
            </th>
            <th>
                Czas trwania
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody class="align-items-center">
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Place)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Duration.Days) Dni @Html.DisplayFor(modelItem => item.Duration.Hours) Godzin @Html.DisplayFor(modelItem => item.Duration.Minutes) Minut
            </td>
            <td>
                <a class="link-info" asp-action="Details" asp-route-itemid="@item.Id">Szczegóły</a> |
                <a class="link-info" asp-action="Edit" asp-route-itemid="@item.Id">Edytuj</a> |
                <a class="link-danger" asp-action="Details" asp-route-itemid="@item.Id">Usuń</a>
            </td>
        </tr>
}
    </tbody>
</table>
<p>
    <a class="btn btn-primary" asp-action="Create">Dodaj nową wycieczke</a>
</p>
